.row
  .small-12.columns
    .alert-box.radius.alert{'data-alert' => "true"}
      Acceso denegado

.row
  .small-12.columns
    No estás autorizado para ver el contenido de esta página. Si crees que es un error envíale un mensaje al administrador del sitio.