.row
  .small-12.columns
    .alert-box.radius.alert{'data-alert' => "true"}
      La petición no es válida

.row
  .small-12.columns
    %p
      La dirección solicitada (URL) no parece haber sido generada por la aplicación, y no tiene un formato válido.
      Si escribiste la dirección manualmente, no fue reconocida. Te conviene utilizar las opciones del menú para
      acceder al contenido que buscas.
    %p
      Si seguiste un enlace de la aplicación y llegaste a esta página, probablemente se trate de un error. Debes
      ponerte en contacto con el administrador para notificarle el problema.