= content_for :panel do
  = render partial: 'shared/panel', locals: { titulo: "Conjuntos de datos", accion: "Modificar", botones: [{texto: "Listado", ruta: conjuntos_de_datos_path}]}

= render 'form'
