%p
  Hola
  = @resource.nombre.to_s.titleize

%p
  Alguien solicitó un enlace para cambiar tu contraseña. Puedes hacerlo a través del siguiente enlace.

%p
  = link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)

%p
  Si no fuiste tú quien lo solicitó, ignora este mensaje.

%p
  Tu contraseña no se modificará hasta que accedas a través del enlace anterior y selecciones una nueva.