%p
  Hola
  = @resource.nombre.to_s.titleize

Tu cuenta fue bloqueada debido a una excesiva cantidad de intentos de acceso sin éxito.

Haz clic en el enlace de abajo para desbloquear tu cuenta:

%p
  = link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token)